/*
. - identifies a class
# - identifies an id
https://www.htmldog.com/guides/css/intermediate/classid/
*/


/* This is for the icons in the homepage */
.iconDetails {
	float:left; 
	height:120px;
	width:120px;	
} 

.iconandproject {
	width:100%;
	height:auto;
}

h4 {
	margin:0px;
}


/* These are for centering images: https://stackoverflow.com/a/43691451/4971151 */
/* this one by using <img class="center" ...> */
.center { 
	display: block;
	margin: auto;
}

/* this one for using in markdown: ![...](/img/path#center) */
img[src*='#center'] { 
	display: block;
	margin: auto;
}

// From https://www.w3schools.com/howto/howto_css_images_side_by_side.asp
.row {
	display: flex;
}
  
.column {
	flex: 33.33%;
	padding: 5px;
}