/*
. - identifies a class
# - identifies an id
https://www.htmldog.com/guides/css/intermediate/classid/
*/

/*.post-container{
    margin: 20px 20px 0 0;  
    border:5px solid #333;
}

.post-thumb img {
    float: left;
}

.post-content {
    float: left;
}*/



.iconDetails {
	float:left; 
	height:120px;
	width:120px;	
} 

.iconandproject {
	width:100%;
	height:auto;
}

h4 {
    margin:0px;
}