---
layout: default
---


<!-- From https://stackoverflow.com/questions/11931154/how-to-position-three-divs-in-html-horizontally
Should eventually change this inline style to using a css! -->

<div id="home" style="height:100%; width:100%; overflow: hidden;">
    <div id="leftThing" style="float: left; width:50%;"> 
    		{%- if page.title -%}
		<h1 class="page-heading">{{ page.title }}</h1>
		{%- endif -%}

		<h2> <a style="color:#000000" href="blog"> Blog Posts </a> </h2>
		<ul>
		  {% for post in site.posts %}
		    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
		  {% endfor %}
		</ul>

		
    </div>
    <div id="rightThing" style="float: left; width:50%;"> 

    <h2> <a style="color:#000000" href="projects"> Projects </a> </h2>
		<ul>
		  {% assign filtered_projects = site.projects | reverse %}
		  {% for post in filtered_projects %}
		    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
		  {% endfor %}
		</ul>
	 </div>
</div>


{{content}}

